@model Customer

@{
    ViewBag.Title = "Update";
}

<div class="page">
    <div class="row">
        <div class="col-8 m-3">
            <form method="post">
                <div class="form-group">
                    @Html.LabelFor(m => m.FullName)
                    @Html.TextBoxFor(m => m.FullName, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.FullName, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.PhoneNumber)
                    @Html.TextBoxFor(m => m.PhoneNumber, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PhoneNumber, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.SVnum)
                    @Html.TextBoxFor(m => m.SVnum, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.SVnum, null, new { @class = "text-danger"})
                </div>
                <button type="submit" class="btn btn-primary" @Url.Action("update","customer")>Yenilə</button>
            </form>
        </div>
    </div>
</div>