@model SearchRoomsToBook
@{
    ViewBag.Title = "Index";
}


    <div booking class="page p-3 ">
        <div class="row booking">
            <div class="col-10">
                <form method="get" class="d-flex justify-content-around" style="font-size:16px">
                    <div class="ml-3 date">
                        <div class="d-flex form-group">
                            @Html.LabelFor(m => m.SearchRooms.Start, new { @class = "ml-3", @style = "width:140px" })
                            @Html.TextBoxFor(m => m.SearchRooms.Start, null, new { @class = "min", @type = "date", @min = DateTime.Now.ToString("yyyy-MM-dd"), @max = DateTime.Now.AddMonths(2).ToString("yyyy-MM-dd"), @style = "border-style:none; width:160px; border-bottom:solid; border-bottom-color:royalblue" })
                            @Html.ValidationMessageFor(m => m.SearchRooms.Start, null, new { @class = "text-danger" })
                        </div>
                        <div class="mt-5 d-flex form-group">
                            @Html.LabelFor(m => m.SearchRooms.End, new { @class = "ml-3", @style = "width:140px" })
                            @Html.TextBoxFor(m => m.SearchRooms.End, null, new { @class = "max", @type = "date", @min = DateTime.Now.AddDays(1).ToString("yyyy-MM-dd"), @style = "border-style:none; width:160px; border-bottom:solid; border-bottom-color:royalblue" })
                            @Html.ValidationMessageFor(m => m.SearchRooms.End, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="ml-3">
                        <div class="d-flex form-group">
                            @Html.LabelFor(m => m.SearchRooms.MinPrice, new { @style = "width:140px" })
                            @Html.TextBoxFor(m => m.SearchRooms.MinPrice, null, new { @type = "number", @min = "10", @max = "300", @style = "width:50px; border-style:none; border-bottom:solid; border-bottom-color:royalblue" })
                            @Html.ValidationMessageFor(m => m.SearchRooms.MinPrice, null, new { @class = "text-danger" })
                                             </div>
                        <div class="mt-5 d-flex form-group">
                            @Html.LabelFor(m => m.SearchRooms.MaxPrice, new { @style = "width:140px" })
                            @Html.TextBoxFor(m => m.SearchRooms.MaxPrice, null, new { @type = "number", @min = "10", @max = "300", @style = "width:50px; border-style:none; border-bottom:solid; border-bottom-color:royalblue" })
                            @Html.ValidationMessageFor(m => m.SearchRooms.MaxPrice, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="ml-3">
                        <div class="d-flex form-group">
                            @Html.LabelFor(m => m.SearchRooms.PairPersonBedroom, new { @style = "width:140px" })
                            @Html.TextBoxFor(m => m.SearchRooms.PairPersonBedroom, null, new { @type = "number", @min = "0", @max = "3", @style = "width:50px; border-style:none; border-bottom:solid; border-bottom-color:royalblue" })
                            @Html.ValidationMessageFor(m => m.SearchRooms.PairPersonBedroom, null, new { @class = "text-danger" })
                        </div>
                        <div class="mt-5 d-flex form-group">
                            @Html.LabelFor(m => m.SearchRooms.SinglePersonBedroom, new { @style = "width:140px" })
                            @Html.TextBoxFor(m => m.SearchRooms.SinglePersonBedroom, null, new { @type = "number", @min = "0", @max = "5", @style = "width:50px; border-style:none; border-bottom:solid; border-bottom-color:royalblue" })
                            @Html.ValidationMessageFor(m => m.SearchRooms.SinglePersonBedroom, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="form-group">
                            @Html.LabelFor(m => m.SearchRooms.ChildBedroom, new { @style = "width:100px" })
                            @Html.TextBoxFor(m => m.SearchRooms.ChildBedroom, null, new { @type = "number", @min = "0", @max = "5", @style = "width:50px; border-style:none; border-bottom:solid; border-bottom-color:royalblue" })
                            @Html.ValidationMessageFor(m => m.SearchRooms.ChildBedroom, null, new { @class = "text-danger" })
                        </div>
                        <button type="submit" class="mt-4 w-75 btn btn-success">Axtar</button>
                    </div>
                </form>

            </div>
        </div>


        <div class="row mytable rooms m-0 pt-4 mt-5">
            <div class="col-11 p-0 text-right">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">Sıra</th>
                            <th class="text-center">Otaq</th>
                            <th class="text-center">Qiymət</th>
                            <th class="text-center">Cüt nəfərlik çarpayı</th>
                            <th class="text-center">Tək nəfərlik çarpayı</th>
                            <th class="text-center">Uşaq çarpayısı</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{var a = 1;}
                        @foreach (var room in Model.Rooms)
                        {
                        <tr>
                            <td class="text-center">@(a++)</td>
                            <td class="text-center">№ @room.Number</td>
                            <td class="text-center">@room.Price.ToString("0.00") AZN</td>
                            <td class="text-center">@room.PairPersonBedroom ədəd</td>
                            <td class="text-center">@room.SinglePersonBedroom ədəd</td>
                            <td class="text-center">@(room.ChildBedroom) ədəd</td>
                            <th><a href="@Url.Action("selectcustomer", "books", new { start=Model.SearchRooms.Start, end= Model.SearchRooms.End, id=room.Id})" class="btn btn-success btn-sm">Rezerv et</a></th>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>


    </div>

