@model List<Room>
@{
    ViewBag.Title = "Index";
}

    <div class="page">
        <div class="row p-4 justify-content-center">
            <div class="col-5">
                <input class="p-1 mr-3" />
                <button id="BtnSearchRoom" class="btn btn-success">Axtar</button>
            </div>
            <div class="col-5 text-center">
                <a class="btn btn-primary" href="@Url.Action("create","rooms")">Otaq əlavə et</a>
            </div>
        </div>
        <div class="row m-0">
            <div class="col-11 p-0 text-right">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">Sıra</th>
                            <th class="text-center">Otaq</th>
                            <th class="text-center">Qiymət</th>
                            <th class="text-center">Çarpayı növü</th>
                            <th class="text-center">Böyüklər</th>
                            <th class="text-center">Uşaqlar</th>
                            <th class="text-center">Status</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{var a = 1;}
                        @foreach (var room in Model)
                        {
                        <tr>
                            <td class="text-center">@(a++)</td>
                            <td class="text-center">№ @room.Number</td>
                            <td class="text-center">@room.Price.ToString("0.00") AZN</td>
                            <td class="text-center">@room.Type nəfərlik</td>
                            <td class="text-center">@room.PersonCapacity nəfər</td>
                            <td class="text-center">@(room.ChildCapacity)</td>
                            @{var b = "Boş";}
                            @foreach (var reservation in room.Reservations)
                            {
                                if (reservation.Closed != null)
                                {
                                    b = "Dolu";
                                    break;
                                }
                            }
                            <td class="text-center">@b</td>
                            <td><a class="btn btn-primary btn-sm" href="@Url.Action("update","rooms",new { id=room.Id})">Düzəliş et</a></td>
                            <td><a class="btn btn-danger btn-sm" href="@Url.Action("delete","rooms",new { id=room.Id})">Sil</a></td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>