@model Room
@{
    ViewBag.Title = "Update";
}

<div class="page">
    <div class="row">
        <div class="col-8 m-3">
            <form method="post">
                <div class="form-group">
                    @Html.LabelFor(m => m.Number)
                    @Html.TextBoxFor(m => m.Number, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Number, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Price)
                    @Html.TextBoxFor(m => m.Price, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Price, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.PersonCapacity)
                    @Html.TextBoxFor(m => m.PersonCapacity, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PersonCapacity, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ChildCapacity)
                    @Html.TextBoxFor(m => m.ChildCapacity, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ChildCapacity, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Type)
                    <select class="form-control" name="Type">
                        @(Model.Type.ToString()=="Tək"?Html.Raw("<option selected value='0'>Tək nəfərlik</option><option value='1'>Cüt nəfərlik</option>"):Html.Raw("<option value='0'>Tək nəfərlik</option><option selected value='1'>Cüt nəfərlik</option>"))
                        
                        
                    </select>
                    @Html.ValidationMessageFor(m => m.Type, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Status)
                    <select class="form-control" name="Status">
                        @(Model.Status==true?Html.Raw("<option selected value='true'>Aktiv</option><option value='false'>Passiv</option>"):Html.Raw("<option value='true'>Aktiv</option><option selected value='false'>Passiv</option>"))
                    </select>
                    @Html.ValidationMessageFor(m => m.Status, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Desc)
                    @Html.TextBoxFor(m => m.Desc, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Desc, null, new { @class = "text-danger" })
                </div>
                <button type="submit" class="btn btn-primary" @Url.Action("create", "rooms")>Əlavə et</button>
            </form>
        </div>
    </div>
</div>